<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <user>
                <header>
                    <h2>{{fullName}}</h2>
                </header>

                <p>
                    {{email}}
                </p>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </user>
        </div>
    </div>
</div>
